@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap');

body {
    background: url(fondo.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    font-weight: 200;
    border: 3px solid rgb(255, 0, 0);
    margin: 20px;
}
main {
    margin: 2rem auto;
    width: 32rem;
}
header h1 {
    background-color: #0000008a;
    border-bottom: 4px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: rgb(255, 0, 0);
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.2rem;
}
nav li {
    list-style: none;
}
nav li a:link,
nav li a:visited {
    background-color: #00000066;
    color: #fff;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding: 0.4rem;
    transition: all 0.2s ease-in;
}
nav li a b {
    background-color: #00000069;
    color: #ffffff;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 0.8rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s 0.2s ease-in;
}
nav li a:hover {
    background-color: #000000be;
}
nav li a:hover b {
    color: rgb(255, 255, 255);
    transform: scale(1.23);
}